@import url('../fonts/roboto/Roboto-Regular.woff');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

.container {
    margin: auto;
}

header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

header>img {
    height: 100%;
    float: left;
    box-sizing: border-box;
}

header>h1 {
    box-sizing: border-box;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-left: 390px;
}

header>p {
    float: right;
    margin-top: 50px;
    font-weight: bold;
    box-sizing: border-box;
}

#date {}


/* MENU DE OPCIONES */

.opciones {
    clear: both;
    height: 50px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

#_folder {
    font-size: 35px;
    color: #f57c00;
}

#run_file {
    font-size: 35px;
    color: #81c784;
}


/* .opciones > ._op-file{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.opciones > ._op-textarea{
    float: right;
    width: 50%;
    box-sizing: border-box;
} */


/* PANELS DE CODIGO */

.panel_codigo {
    height: 500px;
    box-sizing: border-box;
    width: 100%;
    clear: both;
}

#upload {
    color: orange;
}

.codigo_carga {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.codigo_carga p {
    font-family: 'Inconsolata', monospace;
    font-family: 18px;
    box-sizing: border-box;
}

.line {
    background-color: whitesmoke;
    float: left;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

.codigo_write {
    float: right;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.codigo_write>textarea {
    width: 99.5%;
    box-sizing: content-box;
    resize: none;
}


/* SALIDA DEL CODIGO */

.salida {
    height: 300px;
    box-sizing: border-box;
}

.salida>.mensajes {
    height: 15%;
    background-color: #90caf9;
}

.salida>.good {
    background-color: #b2dfdb;
    height: 85%;
}

.salida>.good>.col-md-4 {
    width: 33.3%;
    overflow-y: scroll;
    height: 100%;
    float: left;
}

.mensajes>.col-md-4 {
    width: 33.3%;
    float: left;
    text-align: center;
    border: 2px black solid;
    box-sizing: border-box;
}

.salida>.mad {
    background-color: #e57373;
    height: 85%;
}

.mad>.col-md-4 {
    width: 33.3%;
    float: left;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}


/* TABLAS SEMÀNTICO */

.tablas {
    clear: both;
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(240, 240, 240);
}

.exito_sem {
    float: left;
    width: 49%;
    box-sizing: border-box;
}

.error_sem {
    float: right;
    width: 49%;
    box-sizing: border-box;
}

.error_sem>h1,
.exito_sem>h1 {
    text-align: center;
    padding: 10px 0;
}


/* STYLE_TABLE */

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid #ddd;
}

thead>th {
    text-align: center;
}

th {
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5
}

th,
td {
    padding: 15px;
}


/* VALORES SEMANTICOS */

.valores_sem {
    clear: both;
    height: 300px;
    overflow-y: scroll;
}

.valores_sem>h1 {
    padding: 10px 0;
    text-align: center;
}


/* PIE DE PAGINA */

footer {
    height: 210px;
    padding-top: 10px;
    background-color: #616161;
    color: white;
    text-align: center;
    border-top: 8px black solid;
}

footer img{
    width: 100px;
    border-radius: 50%;
    border: 3px white solid;
    border-style: dashed;
}

footer>.izq {
    float: left;
    width: 50%;
    text-align: center;
}

footer>.der {
    float: right;
    width: 50%;
    text-align: center;
}